* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}
:root{
  --innerWidth: 1816px;
  --pad-inner: 22px;
  --text-size-small: 0.6875rem; /* 11px */
  --text-size-primary: 0.875rem; /* 14px */
  --text-size-medium: 1.125rem;  /* 18px */
  --text-size-large: 1.375rem;   /* 22px */
}

.container {
  height: 100vh;
  /* padding: 0.5rem; */
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 3.5em 1fr;
  background-color: #ccc;
  overflow: hidden;
  grid-template-areas:
    "topbar topbar"
    "sidebar content";
}

.topbar{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0px;
  background-color: midnightblue;
  color: white;
  fill: white;
}

.topbar a{
  color: inherit;
  text-decoration: none;
  font-size: var(--text-size-medium); /* Consumiendo la variable */
}

.topbar span{
  color: inherit;
  text-decoration: none;
  font-size: var(--text-size-medium); 
}


.header-inner{
  inline-size: min(100% - var(--pad-inner) * 2, var(--innerWidth));
  margin-inline: auto;
  /* background-color: cadetblue; */
}

.header-container {
  display: flex;
  /* justify-content: space-between; ahora los divs izq der mid se separan con gap*/
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2em;
  
}

.header-izq{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* .header-search{
  flex: 1;
  display: flex;
}

.header-search input {
  width: 100%;
  padding: 0.4rem 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: transparent;
  color: white;
  font-size: var(--text-size-primary);
  outline: none;
} */

.header-search {
  flex: 1;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-container svg {
  position: absolute;
  left: 0.6rem;
  fill: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.header-search input {
  width: 100%;
  padding: 0.4rem 0.75rem 0.4rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: transparent;
  color: white;
  font-size: var(--text-size-primary);
  outline: none;
}

.header-search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.header-der{
  display: flex;
  justify-content: flex-end;
  gap: 0.95rem;
}

.header-der-btns {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.perfil{
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  
}

.perfil-menu{
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  background: white;
  color: midnightblue;
  border-radius: 3px;
  padding: 0.3rem 0; /* a los lados no va padding */
  min-width: 160px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 999;
}

.menu-container{
  display: flex;
  /* en el container main no va altura */
  cursor: pointer;
  align-items: center;
  padding: 0.4rem 1rem;
  gap: 0.3rem;
}

.menu-container svg{
  fill: black;
  /* max-width: 100%; */
  height: 1.5rem;
}

.perfil-menu a{
  display: block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: midnightblue;
  text-decoration: none;
}


.user-avatar{
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header button {
  background: transparent; /* Quita el fondo gris */
  border: none;
  padding: 0;              /* Quita el relleno extra del navegador */
  cursor: pointer;         /* Convierte el ratón en la manita al pasar por encima */
  display: flex;           
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}



header button svg{
  max-width: 100%;
  width: auto;
  height: 1.5em;
}

header nav ul{
  display: flex;
  gap: 2rem;
  list-style: none;
}

.topbar {
  grid-area: topbar;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1e1e2f;
  border-radius: 0;
  height: 100%;
}

.sidebar nav {
  width: 100%;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.sidebar nav ul li {
  height: 3.5rem;
  list-style: none;
}

.sidebar-button{
  width: 100%;
  height: 100%;
  font-size: var(--text-size-medium);
  padding: 0 0 0 1.5rem;
  text-align: start;
  color: white;
  background-color: #1e1e2f;
  border: none;
}

.sidebar-button:hover{
  background-color: #3A86FF;
}

.content {
  padding: 2rem;
  height: 100vh;
  background-color: white;
  overflow-y: auto;
}

.container.is-collapsed {
  /* Pasamos de 2 columnas a 1 sola columna que ocupa todo (1fr) */
  grid-template-columns: 1fr; 
  
  /* Redefinimos el mapa del Grid sin el sidebar */
  grid-template-areas:
    "topbar"
    "content";
}

/* Ocultamos físicamente el sidebar cuando está colapsado */
.container.is-collapsed .sidebar {
  display: none; 
}

.perfil.is-open .perfil-menu {
  display: block;
}

@media (max-width: 768px){
    .header-container nav{
        display: none;
    }
}